
@{
    ViewBag.Title = "SearchPage";
    Layout = "~/Views/Shared/_TaskLayout.cshtml";
}

<div>
    <!-- Page content -->
    <div class="page-content pt-0">

        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content">
                <div class="card border-warning">
                    <div class="card-header bg-warning text-white header-elements-inline">
                        <h5 class="card-title">Search Flight</h5>
                    </div>
                    <div class="">
                        <div class="">
                            <div class="card-body">
                                <ul class="nav mb-4" id="myTab">
                                    <li class="active pr-3">
                                        <a href="#oneway">
                                            <div class="checkbox oneway-checked">
                                                <label class="oneway-label">
                                                    <input class="oneway-box-check" type="radio" id="product" value="OneWay" checked />
                                                    <div class="oneway-box">OneWay</div>
                                                </label>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="pr-3">
                                        <a href="#round">
                                            <div class="checkbox oneway-checked">
                                                <label class="oneway-label">
                                                    <input class="oneway-box-check" type="radio" id="product" value="Round" />
                                                    <div class="oneway-box">Round</div>
                                                </label>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="pr-3">
                                        <a href="#multi">
                                            <div class="checkbox oneway-checked">
                                                <label class="oneway-label">
                                                    <input class="oneway-box-check" type="radio" id="product" value="Multi" />
                                                    <div class="oneway-box">Multi</div>
                                                </label>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="oneway">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-form-label col-form-label-sm col-lg-3 text-lg-left">From:</label>
                                                    <div class="col-lg-9">
                                                        <input type="text" class="form-control form-control-sm">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-form-label col-form-label-sm col-lg-3 text-lg-left">Going To:</label>
                                                    <div class="col-lg-9">
                                                        <input type="text" class="form-control form-control-sm">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-form-label col-form-label-sm col-lg-3 text-lg-left">Departure:</label>
                                                    <div class="col-lg-9">
                                                        <input type="date" class="form-control form-control-sm">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-form-label col-form-label-sm col-lg-3 text-lg-left"></label>
                                                    <div class="col-lg-3">
                                                        <select name="City" class="form-control form-control-sm" id="city">
                                                            <option selected="">Adults</option>
                                                            <option value="84">1</option>
                                                            <option value="4">2</option>
                                                            <option value="8">3</option>
                                                            <option value="10">4</option>
                                                            <option value="11">5</option>
                                                            <option value="11">6</option>
                                                            <option value="11">7</option>
                                                            <option value="11">8</option>
                                                            <option value="11">9</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-lg-3">
                                                        <select name="City" class="form-control form-control-sm" id="city">
                                                            <option selected="">Infant</option>
                                                            <option value="84">1</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <select name="City" class="form-control form-control-sm" id="city">
                                                            <option selected="">Children</option>
                                                            <option value="84">1</option>
                                                            <option value="4">2</option>
                                                            <option value="8">3</option>
                                                            <option value="10">4</option>
                                                            <option value="11">5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-form-label col-form-label-sm col-lg-3 text-lg-left"></label>
                                                    <div class="col-lg-9">
                                                        <div class="form-check form-check-inline mt-1 form-control form-control-sm">
                                                            <label class="form-check-label">
                                                                <input type="checkbox" class="form-check-input-styled" data-fouc="">
                                                                +/- 3days
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-form-label col-form-label-sm col-lg-3 text-lg-left"></label>
                                                    <div class="col-lg-5">
                                                        <select name="City" class="form-control form-control-sm" id="city">
                                                            <option selected="">Cabin</option>
                                                            <option value="84">Business</option>
                                                            <option value="4">Economy</option>
                                                            <option value="8">First</option>
                                                            <option value="84">PremiumBusiness</option>
                                                            <option value="4">PremiumEconomy</option>
                                                            <option value="8">PremiumFirst</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control form-control-sm" placeholder="Preferred AirLine:">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-form-label col-form-label-sm col-lg-3 text-lg-left"></label>
                                                    <div class="col-lg-9">
                                                        <div class="form-check form-check-inline mt-1 form-control form-control-sm">
                                                            <label class="form-check-label">
                                                                <input type="checkbox" class="form-check-input-styled" data-fouc="">
                                                                Direct
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 text-center mt-4">
                                                @Html.ActionLink("Search", "ResultPage", "Home", null, new { @class = "btn btn-primary" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="round">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-form-label col-form-label-sm col-lg-3 text-lg-left">From:</label>
                                                    <div class="col-lg-9">
                                                        <input type="text" class="form-control form-control-sm">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-form-label col-form-label-sm col-lg-3 text-lg-left">Going To:</label>
                                                    <div class="col-lg-9">
                                                        <input type="text" class="form-control form-control-sm">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-form-label col-form-label-sm col-lg-3 text-lg-left">Departure:</label>
                                                    <div class="col-lg-9">
                                                        <input type="date" class="form-control form-control-sm">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-form-label col-form-label-sm col-lg-3 text-lg-left">Arrival:</label>
                                                    <div class="col-lg-9">
                                                        <input type="date" class="form-control form-control-sm">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-form-label col-form-label-sm col-lg-3 text-lg-left"></label>
                                                    <div class="col-lg-3">
                                                        <select name="City" class="form-control form-control-sm" id="city">
                                                            <option selected="">Adults</option>
                                                            <option value="84">1</option>
                                                            <option value="4">2</option>
                                                            <option value="8">3</option>
                                                            <option value="10">4</option>
                                                            <option value="11">5</option>
                                                            <option value="11">6</option>
                                                            <option value="11">7</option>
                                                            <option value="11">8</option>
                                                            <option value="11">9</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <select name="City" class="form-control form-control-sm" id="city">
                                                            <option selected="">Infant</option>
                                                            <option value="84">1</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <select name="City" class="form-control form-control-sm" id="city">
                                                            <option selected="">Children</option>
                                                            <option value="84">1</option>
                                                            <option value="4">2</option>
                                                            <option value="8">3</option>
                                                            <option value="10">4</option>
                                                            <option value="11">5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-form-label col-form-label-sm col-lg-3 text-lg-left"></label>
                                                    <div class="col-lg-9">
                                                        <div class="form-check form-check-inline mt-1 form-control form-control-sm">
                                                            <label class="form-check-label">
                                                                <input type="checkbox" class="form-check-input-styled" data-fouc="">
                                                                +/- 3days
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-form-label col-form-label-sm col-lg-3 text-lg-left"></label>
                                                    <div class="col-lg-5">
                                                        <select name="City" class="form-control form-control-sm" id="city">
                                                            <option selected="">Cabin</option>
                                                            <option value="84">Business</option>
                                                            <option value="4">Economy</option>
                                                            <option value="8">First</option>
                                                            <option value="84">PremiumBusiness</option>
                                                            <option value="4">PremiumEconomy</option>
                                                            <option value="8">PremiumFirst</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control form-control-sm" placeholder="Preferred AirLine:">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-form-label col-form-label-sm col-lg-3 text-lg-left"></label>
                                                    <div class="col-lg-9">
                                                        <div class="form-check form-check-inline mt-1 form-control form-control-sm">
                                                            <label class="form-check-label">
                                                                <input type="checkbox" class="form-check-input-styled" data-fouc="">
                                                                Direct
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 text-center mt-4">
                                                @Html.ActionLink("Search", "ResultPage", "Home", null, new { @class = "btn btn-primary" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="multi">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-form-label col-form-label-sm col-lg-3 text-lg-left">From:</label>
                                                    <div class="col-lg-9">
                                                        <input type="text" class="form-control form-control-sm">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-form-label col-form-label-sm col-lg-3 text-lg-left">Going To:</label>
                                                    <div class="col-lg-9">
                                                        <input type="text" class="form-control form-control-sm">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-form-label col-form-label-sm col-lg-3 text-lg-left">Departure:</label>
                                                    <div class="col-lg-9">
                                                        <input type="date" class="form-control form-control-sm">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div id="education_fields">
                                        </div> -->
                                        <div class="form-group" id="dynamic_form">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group row">
                                                        <label class="col-form-label col-form-label-sm col-lg-3 text-lg-left">From:</label>
                                                        <div class="col-lg-9">
                                                            <input type="text" class="form-control form-control-sm" id="from">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group row">
                                                        <label class="col-form-label col-form-label-sm col-lg-3 text-lg-left">Going To:</label>
                                                        <div class="col-lg-9">
                                                            <input type="text" class="form-control form-control-sm" id="to">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group row">
                                                        <label class="col-form-label col-form-label-sm col-lg-3 text-lg-left">Departure:</label>
                                                        <div class="col-lg-9 col-md-11">
                                                            <input type="date" class="form-control form-control-sm" id="Degree">
                                                        </div>
                                                        <div class="">
                                                            <div class="button-group btn-plus">
                                                                <a href="javascript:void(0)" class="btn btn-primary position_abs" id="plus5">+</a>
                                                            </div>
                                                        </div>
                                                        <div class="btn-plus">
                                                            <a href="javascript:void(0)" class="btn btn-danger position_abs_dan" id="minus5">-</a>
                                                        </div>

                                                        <!-- <div class="btn-plus">
                                                            <div class="input-group-btn">
                                                                <button class="btn btn-success position_abs" type="button"  onclick="education_fields();"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </button>
                                                            </div>
                                                        </div> -->
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-form-label col-form-label-sm col-lg-3 text-lg-left"></label>
                                                    <div class="col-lg-3">
                                                        <select name="City" class="form-control form-control-sm" id="city">
                                                            <option selected="">Adults</option>
                                                            <option value="84">1</option>
                                                            <option value="4">2</option>
                                                            <option value="8">3</option>
                                                            <option value="10">4</option>
                                                            <option value="11">5</option>
                                                            <option value="12">6</option>
                                                            <option value="13">7</option>
                                                            <option value="14">8</option>
                                                            <option value="15">9</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <select name="City" class="form-control form-control-sm" id="city">
                                                            <option selected="">Infant</option>
                                                            <option value="84">1</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <select name="City" class="form-control form-control-sm" id="city">
                                                            <option selected="">Children</option>
                                                            <option value="84">1</option>
                                                            <option value="4">2</option>
                                                            <option value="8">3</option>
                                                            <option value="10">4</option>
                                                            <option value="11">5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-form-label col-form-label-sm col-lg-3 text-lg-left"></label>
                                                    <div class="col-lg-5">
                                                        <select name="City" class="form-control form-control-sm" id="city">
                                                            <option selected="">Cabin</option>
                                                            <option value="84">Business</option>
                                                            <option value="4">Economy</option>
                                                            <option value="8">First</option>
                                                            <option value="84">PremiumBusiness</option>
                                                            <option value="4">PremiumEconomy</option>
                                                            <option value="8">PremiumFirst</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control form-control-sm" placeholder="Preferred AirLine:">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-form-label col-form-label-sm col-lg-3 text-lg-left"></label>
                                                    <div class="col-lg-9">
                                                        <div class="form-check form-check-inline mt-1 form-control form-control-sm">
                                                            <label class="form-check-label">
                                                                <input type="checkbox" class="form-check-input-styled" data-fouc="">
                                                                Direct
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 text-center mt-4">
                                                @Html.ActionLink("Search", "ResultPage", "Home", null, new { @class = "btn btn-primary"})
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /content area -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
</div>

