<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MyBookingWorld</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Content/TaskContent/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/TaskContent/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/TaskContent/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/TaskContent/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/TaskContent/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/TaskContent/css/colors.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/TaskContent/css/style.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="~/Content/TaskContent/js/main/jquery.min.js"></script>
    <script src="~/Content/TaskContent/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/Content/TaskContent/js/plugins/loaders/blockui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/Content/TaskContent/js/plugins/visualization/d3/d3.min.js"></script>
    <script src="~/Content/TaskContent/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <script src="~/Content/TaskContent/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="~/Content/TaskContent/js/plugins/forms/styling/switchery.min.js"></script>
    <script src="~/Content/TaskContent/js/plugins/forms/styling/switch.min.js"></script>
    <script src="~/Content/TaskContent/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script src="~/Content/TaskContent/js/plugins/ui/moment/moment.min.js"></script>
    <script src="~/Content/TaskContent/js/plugins/pickers/daterangepicker.js"></script>

    <script src="~/Content/TaskContent/js/demo_pages/form_multiselect.js"></script>
    <script src="~/Content/TaskContent/js/demo_pages/form_checkboxes_radios.js"></script>
    <script src="~/Content/TaskContent/js/demo_pages/dashboard.js"></script>
    <script src="~/Content/TaskContent/js/plugins/forms/inputs/duallistbox/duallistbox.min.js"></script>
    <script src="~/Content/TaskContent/js/demo_pages/form_dual_listboxes.js"></script>
    <script src="~/Content/TaskContent/js/plugins/dynamic-field/dynamic-form.js"></script>
    <script src="~/Content/TaskContent/js/demo_pages/form_controls_extended.js"></script>

    <!-- Theme JS files -->
    <script src="~/Content/TaskContent/js/plugins/forms/inputs/formatter.min.js"></script>



    <script src="~/Content/TaskContent/js/app.js"></script>

    <script src="~/Content/TaskContent/js/script.js"></script>
   
    <!-- /theme JS files -->

</head>

<body>

    <!-- Main navbar -->
    <div class="navbar navbar-expand-md navbar-dark bg-warning-600">
        <div class="navbar-brand wmin-0 mr-5">
            <a href="index.html" class="d-inline-block">
                <img src="~/Content/TaskContent/images/logo2.png" alt="">
            </a>
        </div>
        <div class="d-md-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-tree5"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
                        <i class="icon-people"></i>
                        <span class="d-md-none ml-2">Users</span>
                        <span class="badge badge-mark border-orange-400 ml-auto ml-md-0"></span>
                    </a>
                    <div class="dropdown-menu dropdown-content wmin-md-300">
                        <div class="dropdown-content-header">
                            <span class="font-weight-semibold">Users online</span>
                            <a href="#" class="text-default"><i class="icon-search4 font-size-base"></i></a>
                        </div>
                        <div class="dropdown-content-body dropdown-scrollable">
                            <ul class="media-list">
                                <li class="media">
                                    <div class="mr-3">
                                        <img src="~/Content/TaskContent/images/demo/users/face18.jpg" width="36" height="36" class="rounded-circle" alt="">
                                    </div>
                                    <div class="media-body">
                                        <a href="#" class="media-title font-weight-semibold">Jordana Ansley</a>
                                        <span class="d-block text-muted font-size-sm">Lead web developer</span>
                                    </div>
                                    <div class="ml-3 align-self-center"><span class="badge badge-mark border-success"></span></div>
                                </li>
                                <li class="media">
                                    <div class="mr-3">
                                        <img src="~/Content/TaskContent/images/demo/users/face24.jpg" width="36" height="36" class="rounded-circle" alt="">
                                    </div>
                                    <div class="media-body">
                                        <a href="#" class="media-title font-weight-semibold">Will Brason</a>
                                        <span class="d-block text-muted font-size-sm">Marketing manager</span>
                                    </div>
                                    <div class="ml-3 align-self-center"><span class="badge badge-mark border-danger"></span></div>
                                </li>
                                <li class="media">
                                    <div class="mr-3">
                                        <img src="~/Content/TaskContent/images/demo/users/face17.jpg" width="36" height="36" class="rounded-circle" alt="">
                                    </div>
                                    <div class="media-body">
                                        <a href="#" class="media-title font-weight-semibold">Hanna Walden</a>
                                        <span class="d-block text-muted font-size-sm">Project manager</span>
                                    </div>
                                    <div class="ml-3 align-self-center"><span class="badge badge-mark border-success"></span></div>
                                </li>
                                <li class="media">
                                    <div class="mr-3">
                                        <img src="~/Content/TaskContent/images/demo/users/face19.jpg" width="36" height="36" class="rounded-circle" alt="">
                                    </div>
                                    <div class="media-body">
                                        <a href="#" class="media-title font-weight-semibold">Dori Laperriere</a>
                                        <span class="d-block text-muted font-size-sm">Business developer</span>
                                    </div>
                                    <div class="ml-3 align-self-center"><span class="badge badge-mark border-warning-300"></span></div>
                                </li>
                                <li class="media">
                                    <div class="mr-3">
                                        <img src="~/Content/TaskContent/images/demo/users/face16.jpg" width="36" height="36" class="rounded-circle" alt="">
                                    </div>
                                    <div class="media-body">
                                        <a href="#" class="media-title font-weight-semibold">Vanessa Aurelius</a>
                                        <span class="d-block text-muted font-size-sm">UX expert</span>
                                    </div>
                                    <div class="ml-3 align-self-center"><span class="badge badge-mark border-grey-400"></span></div>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown-content-footer bg-light">
                            <a href="#" class="text-grey mr-auto">All users</a>
                            <a href="#" class="text-grey"><i class="icon-gear"></i></a>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
                        <i class="icon-pulse2"></i>
                        <span class="d-md-none ml-2">Activity</span>
                        <span class="badge badge-mark border-orange-400 ml-auto ml-md-0"></span>
                    </a>
                    <div class="dropdown-menu dropdown-content wmin-md-350">
                        <div class="dropdown-content-header">
                            <span class="font-weight-semibold">Latest activity</span>
                            <a href="#" class="text-default"><i class="icon-search4 font-size-base"></i></a>
                        </div>
                        <div class="dropdown-content-body dropdown-scrollable">
                            <ul class="media-list">
                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#" class="btn bg-success-400 rounded-round btn-icon"><i class="icon-mention"></i></a>
                                    </div>
                                    <div class="media-body">
                                        <a href="#">Taylor Swift</a> mentioned you in a post "Angular JS. Tips and tricks"
                                        <div class="font-size-sm text-muted mt-1">4 minutes ago</div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#" class="btn bg-pink-400 rounded-round btn-icon"><i class="icon-paperplane"></i></a>
                                    </div>
                                    <div class="media-body">
                                        Special offers have been sent to subscribed users by <a href="#">Donna Gordon</a>
                                        <div class="font-size-sm text-muted mt-1">36 minutes ago</div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#" class="btn bg-blue rounded-round btn-icon"><i class="icon-plus3"></i></a>
                                    </div>

                                    <div class="media-body">
                                        <a href="#">Chris Arney</a> created a new <span class="font-weight-semibold">Design</span> branch in <span class="font-weight-semibold">Limitless</span> repository
                                        <div class="font-size-sm text-muted mt-1">2 hours ago</div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#" class="btn bg-purple-300 rounded-round btn-icon"><i class="icon-truck"></i></a>
                                    </div>
                                    <div class="media-body">
                                        Shipping cost to the Netherlands has been reduced, database updated
                                        <div class="font-size-sm text-muted mt-1">Feb 8, 11:30</div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#" class="btn bg-warning-400 rounded-round btn-icon"><i class="icon-comment"></i></a>
                                    </div>
                                    <div class="media-body">
                                        New review received on <a href="#">Server side integration</a> services
                                        <div class="font-size-sm text-muted mt-1">Feb 2, 10:20</div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#" class="btn bg-teal-400 rounded-round btn-icon"><i class="icon-spinner11"></i></a>
                                    </div>
                                    <div class="media-body">
                                        <strong>January, 2018</strong> - 1320 new users, 3284 orders, $49,390 revenue
                                        <div class="font-size-sm text-muted mt-1">Feb 1, 05:46</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown-content-footer bg-light">
                            <a href="#" class="text-grey mr-auto">All activity</a>
                            <div>
                                <a href="#" class="text-grey" data-popup="tooltip" title="Clear list"><i class="icon-checkmark3"></i></a>
                                <a href="#" class="text-grey ml-2" data-popup="tooltip" title="Settings"><i class="icon-gear"></i></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <span class="ml-md-3 d-none d-md-block">
                <a href="#!" onclick="javascript:toggleFullScreen()"><i class="icon-enlarge7 text-white"></i></a>
            </span>
            <span class="badge bg-success-400 badge-pill ml-md-3 mr-md-auto">16 orders</span>
            <ul class="navbar-nav">
                <li class="nav-item dropdown dropdown-user">
                    <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                        <img src="~/Content/TaskContent/images/demo/users/face11.jpg" class="rounded-circle mr-2" height="34" alt="">
                        <span>English</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item"><i class="icon-user-plus"></i> My profile</a>
                        <a href="#" class="dropdown-item"><i class="icon-coins"></i> My balance</a>
                        <a href="#" class="dropdown-item"><i class="icon-comment-discussion"></i> Messages <span class="badge badge-pill bg-blue ml-auto">58</span></a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item"><i class="icon-cog5"></i> Account settings</a>
                        <a href="#" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
                    </div>
                </li>
                <li class="nav-item dropdown dropdown-user">
                    <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                        <img src="~/Content/TaskContent/images/PngItem_6275754.png" class="rounded-circle mr-2" height="34" alt="">
                        <span>Victoria</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item"><i class="icon-user-plus"></i> My profile</a>
                        <a href="#" class="dropdown-item"><i class="icon-coins"></i> My balance</a>
                        <a href="#" class="dropdown-item"><i class="icon-comment-discussion"></i> Messages <span class="badge badge-pill bg-blue ml-auto">58</span></a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item"><i class="icon-cog5"></i> Account settings</a>
                        <a href="#" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- secondary navbar -->
    <div class="navbar navbar-expand-xl navbar-light displynone">
        <div class="text-center d-xl-none w-100">
            <button type="button" class="navbar-toggler dropdown-toggle collapsed" data-toggle="collapse" data-target="#navbar-navigation" aria-expanded="false">
                <i class="icon-unfold mr-2"></i>
                Navigation
            </button>
        </div>

        <div class="navbar-collapse collapse" id="navbar-navigation" style="">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a href="index.html" class="navbar-nav-link">
                        <i class="icon-home4 mr-2"></i>
                        Dashboard
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Flights
                    </a>

                    <div class="dropdown-menu">
                        <a href="Search_flight.html" class="dropdown-item"><i class="icon-file-text2"></i>Search Flight</a>
                        <a href="booking-details.html" class="dropdown-item"><i class="icon-file-text2"></i>Booking</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Deals
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a href="umrah_packages.html" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                        Umrah Packages
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                        Tour
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                        Visa DropBox
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /secondary navbar -->


    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <a href="index.html"><h6>Dashboard</h6></a>
            </div>

            <ul class="list-unstyled components" id="premier-topnav">
                <li class="">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle active">Flights</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li class="">
                            <a href="Search_flight.html">Search Flights</a>
                        </li>
                        <li class="">
                            <a href="booking-details.html">Booking</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Deals</a>
                </li>
                <li>
                    <a href="umrah_packages.html">Umrah Packages</a>
                </li>
                <li>
                    <a href="#">Tour</a>
                </li>
                <li>
                    <a href="#">Rail Pass</a>
                </li>
                <li>
                    <a href="#">Cruises</a>
                </li>
                <li>
                    <a href="#">Blocks</a>
                </li>
                <li>
                    <a href="#">Insurance</a>
                </li>
                <li>
                    <a href="#">Visa DropBox</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <!-- Page header -->
            <div class="page-header">
                <div class="page-header-content header-elements-md-inline">
                    <div class="page-title d-flex">
                        <h4><span class="font-weight-semibold">Search Flight</span> </h4>
                        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                    </div>

                    <div class="header-elements d-none py-0 mb-3 mb-md-0">
                        <div class="breadcrumb">
                            <a href="index.html" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Dashboard</a>
                            <span class="breadcrumb-item">Flights</span>
                            <span class="breadcrumb-item active">Search Flight</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="renderBody" style="padding: 5px;">
                @RenderBody()
            </div>            
        </div>

    </div>




    <!-- loader -->
    <div class="loader-wrapper">
        <div class="Loading">
        </div>
        <!-- <div class="loading">
            <span></span>
            <span></span>
            <span></span>
            <h2>Loading...</h2>
        </div> -->
    </div>
    <!-- /loader -->
    <!-- Footer -->
    <div class="navbar navbar-expand-lg navbar-light footer-pos">
        <div class="text-center d-lg-none w-100">
            <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                <i class="icon-unfold mr-2"></i>
                Footer
            </button>
        </div>

        <div class="navbar-collapse collapse" id="navbar-footer">
            <span class="navbar-text">
                &copy; 2019. <a href="#.">My Booking World</a> by <a href="http://www.intellisoftsolutions.com/" target="_blank">IntelliSoft Solutions</a>
            </span>

            <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item"><a href="#." class="navbar-nav-link"><i class="icon-file-text2 mr-2"></i> Docs</a></li>
                <li class="nav-item"><a href="#." class="navbar-nav-link"><span class="text-pink-400"><i class="icon-lifebuoy mr-2"></i> Support</span></a></li>
            </ul>
        </div>
    </div>
    <!-- /footer -->
    <!-- jQuery library -->
    <!-- jQuery library -->
    <script>
        $(document).ready(function() {
        	var dynamic_form =  $("#dynamic_form").dynamicForm("#dynamic_form","#plus5", "#minus5", {
		        limit:3,
		        formPrefix : "dynamic_form",
		        normalizeFullForm : false
		    });

        	dynamic_form.inject([{p_name: 'Hemant',quantity: '123',remarks: 'testing remark'},{p_name: 'Harshal',quantity: '123',remarks: 'testing remark'}]);

		    $("#dynamic_form #minus5").on('click', function(){
		    	var initDynamicId = $(this).closest('#dynamic_form').parent().find("[id^='dynamic_form']").length;
		    	if (initDynamicId === 2) {
		    		$(this).closest('#dynamic_form').next().find('#minus5').hide();
		    	}
		    	$(this).closest('#dynamic_form').remove();
		    });

		    $('form').on('submit', function(event){
	        	var values = {};
				$.each($('form').serializeArray(), function(i, field) {
				    values[field.name] = field.value;
				});
				console.log(values)
        		event.preventDefault();
        	})
        });
    </script>
    <!-- <script>
    var room = 1;
    function education_fields() {

        room++;
        var objTo = document.getElementById('education_fields')
        var divtest = document.createElement("div");
        divtest.setAttribute("class", "form-group removeclass"+room);
        var rdiv = 'removeclass'+room;
        divtest.innerHTML = '<div class= "row"> <div class="col-md-4"> <div class="form-group row"> <label class="col-form-label col-form-label-sm col-lg-3 text-lg-left">From:</label><div class="col-lg-9"> <input type="text" class="form-control form-control-sm" id="from"> </div> </div> </div> <div class="col-md-4"><div class="form-group row"><label class="col-form-label col-form-label-sm col-lg-3 text-lg-left">Going To:</label> <div class="col-lg-9"> <input type="text" class="form-control form-control-sm" id="to"> </div></div>  </div>  <div class="col-md-4"><div class="form-group row"><label class="col-form-label col-form-label-sm col-lg-3 text-lg-left">Departure:</label> <div class="col-lg-8 col-md-11"> <input type="date" class="form-control form-control-sm" id="Degree">  </div> <div class="btn-negative"> <button class="btn btn-danger position_abs_dan" type="button" onclick="remove_education_fields('+ room +');"> <span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button> </div> </div>  </div> </div> </div></div></div></div><div class="clear"></div>';

        objTo.appendChild(divtest)

    }
       function remove_education_fields(rid) {
           $('.removeclass'+rid).remove();
       }
    </script> -->
    <!-- onload loader -->
    <script>
    $(window).on("load",function(){
        $(".loader-wrapper").fadeOut("slow");
    })
    </script>
    <!-- /onload loader -->
    <script>
    $('#myTab li').click(function (e) {
 // e.preventDefault();
    $(this).find('a').tab('show');
 // $(this).tab('show');
     $(this).closest('ul').find('input[type="radio"]').prop('checked','');
     $(this).closest('li').find('input[type="radio"]').prop('checked','checked');

});
    </script>
    <!-- <script>
    function setActive() {
      linkObj = document.getElementById('premier-topnav').getElementsByTagName('a');
      for(i=0;i<linkObj.length;i++) {
        if(document.location.href.indexOf(linkObj[i].href)>=0) {
          linkObj[i].classList.add("active");
        }
      }
    }

    window.onload = setActive;
    </script>  -->

   
</body>

</html>
